<!DOCTYPE html> 
<html lang="en-US">
    <head>
        <title>Communication</title>
        <link rel="stylesheet" href="communicatie.css">
        <script src="communicatie.js"> </script>
    </head>
    <body onload="communicatie.init()">
        <h1><span id="title">Index</span><span class="icons"></span><span onclick="javascript:communicatie.show_page('channels.html',  {'read_channels': null, 'read_users': null});document.getElementById('title').textContent = 'Index'">🏠</span><span onclick="window.location.replace('index.html')">&#x1F6AA;</span></h1>
        <div id="error" hidden></div>
        <div id="page"></div>
    </body>
</html>
